/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

/* browser reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables & global styles */
:root {
  --header-overlay: rgba(4,9,30,0.7);
  --text-color-white: white;
  --text-color-black: black;
  --brand-red: #f44336;
  --brand-red-overlay: rgba(244, 67, 54, 0.7);
  --brand-red-light: #fff3f3;
  --box-shadow: rgba(0,0,0,0.2);
}

html {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

p {
  font-size: 0.7rem;
  padding: 10px;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
}

img {
  display: block;
}

.container {
}

.section-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color-white);
  border: 1px solid var(--text-color-white);
  padding: 12px 34px;
  font-size: 1.2rem;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid var(--brand-red);
  background: var(--brand-red);
  transition: 0.5s ease;
}

/* header section */
#header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(var(--header-overlay), var(--header-overlay)), url(./images/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

#header .header nav {
  position: relative;
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

#header .header .open-icon {
  position: fixed;
  right: 6%;
  z-index: 10;
}

#header .header .open-icon .fa {
  z-index: 10;
  transition: 0.3s ease color;
}

#header .header .open-icon .fa.inactive {
  display: none;
}

#header .header nav .fa {
  display: none;
}

#header .header nav img {
  width: 150px;
  padding-top: 10px;
}

#header .header nav .nav-list .close-icon {
  position: relative;
}

#header .header nav .nav-list ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

#header .header nav .nav-list ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--brand-red);
  display: block;
  margin: auto;
  transition: 0.5s ease width;
}

#header .header nav .nav-list ul li:hover::after {
  width: 100%;
}

#header .header nav .nav-list ul li a {
  font-size: 1rem;
  color: var(--text-color-white);
  text-decoration: none;
}

#header .header .text-box {
  width: 90%;
  color: var(--text-color-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#header .header .text-box h1 {
  font-size: 2.5rem;
}

#header .header .text-box p {
  font-size: 0.7rem;
  margin: 10px 0 40px 0;
  color: var(--text-color-white);
}

/* course section */
#course .course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

#course .course .courses-top h1 {
  font-size: 2rem;
  font-weight: 600;
}

#course .course .courses-top p {
  color: var(--text-color-black);
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

#course .course .courses-bottom {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

#course .course .courses-bottom .course-item {
  flex-basis: 31%;
  margin: 1.5%;
  background: var(--brand-red-light);
  border-radius: 10px;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s ease box-shadow;
}

#course .course .courses-bottom .course-item:hover {
  box-shadow: 0 0 20px var(--box-shadow);
}

/* campus section */
#campus .campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

#campus .campus .campuses-bottom {
  display: flex;
  margin-top: 5%;
}

#campus .campus .campuses-bottom .campus-item {
  flex-basis: 31%;
  margin: 1.5%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

#campus .campus .campuses-bottom .campus-item img {
  width: 100%;
}

#campus .campus .campuses-bottom .campus-item .campus-layer {
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease background;
}

#campus .campus .campuses-bottom .campus-item .campus-layer h3 {
  width: 100%;
  font-weight: 500;
  color: var(--text-color-white);
  font-size: 1.5rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
  transition-property: bottom, opacity;
}

#campus .campus .campuses-bottom .campus-item .campus-layer:hover h3 {
  bottom: 43%;
  opacity: 1;
}

#campus .campus .campuses-bottom .campus-item .campus-layer:hover {
  background: var(--brand-red-overlay);
}

/* facilities section */
#facilities .facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

#facilities .facilities .facilities-bottom {
  margin-top: 5%;
}

#facilities .facilities .facilities-bottom .facilities-list {
  display: flex;
}

#facilities .facilities .facilities-bottom .facilities-list .facility-item {
  flex-basis: 31%;
  margin: 1.5%;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

#facilities .facilities .facilities-bottom .facilities-list .facility-item .card-top {
  overflow: hidden;
  border-radius: 10px;
}

#facilities .facilities .facilities-bottom .facilities-list .facility-item .card-bottom {
  padding: 20px 12px;
}

#facilities .facilities .facilities-bottom .facilities-list .facility-item img {
  width: 100%;
  border-radius: 10px;
  transition: 0.5s ease transform;
}

#facilities .facilities .facilities-bottom .facilities-list .facility-item:hover img {
  transform: scale(1.1);
}

/* testimonials section */
#testimonials .testimonials {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

#testimonials .testimonials .testimonials-bottom {
  margin-top: 5%;
}

#testimonials .testimonials .testimonials-bottom .testimonials-list {
  display: flex;
}

#testimonials .testimonials .testimonials-bottom .testimonials-list .testimonial-item {
  flex-basis: 45%;
  margin: 2.5%;
  border-radius: 10px;
  text-align: left;
  background: var(--brand-red-light);
  padding: 25px;
  cursor: pointer;
  display: flex;
  transition: 0.5s ease box-shadow;
}

#testimonials .testimonials .testimonials-bottom .testimonials-list .testimonial-item:hover {
  box-shadow: 0 0 20px var(--box-shadow);
}

#testimonials .testimonials .testimonials-bottom .testimonials-list .testimonial-item img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

#testimonials .testimonials .testimonials-bottom .testimonials-list .testimonial-item p {
  padding: 0;
}

#testimonials .testimonials .testimonials-bottom .testimonials-list .testimonial-item h3 {
  margin-top: 15px;
  text-align: left;
}

#testimonials .testimonials .testimonials-bottom .testimonials-list .testimonial-item .fa {
  color: var(--brand-red);
}

/* contact section */
#contact .contact {
  width: 80%;
  margin: 100px auto;
  background-image: linear-gradient(var(--header-overlay), var(--header-overlay)), url(./images/banner2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

#contact .contact h1 {
  color: var(--text-color-white);
  margin-bottom: 40px;
  padding: 0;
}

/* footer section */
#footer .footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

#footer .footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

#footer .footer .social-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px 0;
}

#footer .footer .social-icons .icon {
  width: 15px;
  margin: 0 20px;
  
}

#footer .footer .social-icons .social-item .socials-color {
  filter: invert(35%) sepia(80%) saturate(3538%) hue-rotate(343deg) brightness(100%) contrast(92%);
}

#footer .footer .social-item {
  transition: 0.3s ease;
  transition-property: transform, filter;
}

#footer .footer .social-item:hover {
  transform: scale(1.2);
  filter: brightness(1) invert(0);
}

#footer .footer .social-item:hover img {
  filter: brightness(1) invert(0);
}

#footer .footer p .fa {
  color: var(--brand-red);
}

/* media queries */
@media only screen and (max-width:768px) {
  #header .header nav .fa {
    display: block;
    color: var(--text-color-white);
    margin: 20px 10px 10px 10px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #header .header nav img {
    padding-top: 20px;
  }

  #header .header nav .fa-xmark {
    font-size: 1.7rem;
    text-align: right;
  }

  #header .header nav .close-icon {
    padding: 7.5px 22.5px;
  }

  #header .header .text-box h1 {
    font-size: 1.5rem;
  }

  #header .header nav .nav-list ul li {
    display: block;
  }

  #header .header nav .nav-list ul {
    padding: 30px;
  }

  #header .header nav .nav-list {
    position: fixed;
    background: var(--brand-red);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 10;
    transition: 0.5s ease right;
  }

  #course .course .courses-bottom, 
  #campus .campus .campuses-bottom, 
  #facilities .facilities .facilities-list,
  #testimonials .testimonials .testimonials-list {
    flex-direction: column;
  }

  #testimonials .testimonials .testimonials-bottom .testimonials-list .testimonial-item {
    display: inline-block;
  }

  #testimonials .testimonials .testimonials-bottom .testimonials-list .testimonial-item img {
    margin-left: 0px;
    margin-right: 15px;
    float: left;
  }

  #contact .contact {
    padding: 50px 0;
  }

  #contact .contact h1 {
    font-size: 0.8rem;
  }

  #footer .footer .social-icons {
    margin: 10px 0;
  }

  #footer .footer .social-icons .icon {
  width: 20px;
}
}

/* keyframes */