/* imports */

/* browser reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables & global styles */
/* :root {
  
} */

/* html {
  
} */

/* header section */

/* footer section */

/* media queries */

/* keyframes */
